<div class="row">
  <div class="col-md-8">
    <h3><%= @list.name %> <small>by: <%= @list.user.username %></small></h3>

    <% if list_belongs_to_user?(@list)%>
      <%= link_to 'Edit List Properties', edit_list_path(@list) %>
    <% end %>
    <br />
    <%= link_to 'New Item', new_item_path(list_id: @list.id)%>

    <% @items.each do |item| %>
      <div>
        <%= item.name  %>
        <%= link_to 'Buy Here', item.url %>
        <%= item.instructions %>

        <% if list_belongs_to_user?(@list) %>
          <%= link_to 'edit', item %>
          <%= link_to 'delete', item, method: :delete %>
        <% end %>
        <%# also check if item is already purchased %>
        <% if user_can_participate?(@list)%>
          Mark as Purchased.
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h5>Collaborators</h5>
    <% if list_belongs_to_user?(@list) %>
      <%= form_with url: search_path, local: true, method: :get do |form| %>
        <%= form.text_field :q, placeholder: "Invite", data: {behavior: "autocomplete"} %>
        <%= form.button "Search", class: "btn btn-outline-success" %>
      <% end %>
    <% elsif user_signed_in? && !list_belongs_to_user?(@list)%>
      <%= button_to 'request to join', collab_requests_path(collab_request: {user_id: current_user.id, list_id: @list.id, from_owner: false}) %>
    <% end %>
    <% @collaborators.each do |collab| %>
      <div>
        <%= collab.username %>
      </div>
    <% end %>
  </div>
</div>

<% if user_can_participate?(@list)%>
  <h3>Comments</h3>
  <%= render 'comments/form', comment: @comment, list_id: @list.id %>

  <%= render partial: 'comments/comment', collection: @comments %>
<% end %>
