
<% @items.each do |item| %>
  <div>
  <%= item.name  %>
  <%= item.url %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div>
  <%= comment.body  %>
  <%= comment.user.username %>
  </div>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
