<div class="row">
  <div class="col-md-8">
    <h3><%= @list.name %> <small>by: <%= @list.user.username %></small></h3>

    <% if list_belongs_to_user?(@list)%>
      <%= link_to 'Edit List Properties', edit_list_path(@list) %>
    <% end %>
    <br />
    <% if user_can_participate?(@list)%>
      <%= link_to 'New Item', new_item_path(list_id: @list.id)%>
    <% end %>
    <table>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name  %></td>
        <td><%= link_to 'Buy Here', item.url %></td>
        <td><%= item.instructions %></td>

        <% if list_belongs_to_user?(@list) || user_can_participate?(@list) %>
          <td><%= link_to 'edit', edit_item_path(item) %></td>
          <td><%= link_to 'delete', item, method: :delete %></td>
        <% end %>

        <% if user_can_participate?(@list) && !item.purchaser %>
          <td><%= button_to 'Mark as Purchased', item_path(item: {purchaser_id: current_user.id}, item_id: item.id), method: :put %></td>
        <% elsif user_can_participate?(@list) && item.purchased? %>
          <td> purchased by: <%= item.purchaser.username %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <h5>Collaborators</h5>
    <% if list_belongs_to_user?(@list) %>
      <%= form_with url: search_path, local: true, method: :get do |form| %>
        <%= form.text_field :q, placeholder: "Invite", data: {behavior: "autocomplete"} %>
        <%= form.button "Search", class: "btn btn-outline-success" %>
      <% end %>
    <% elsif show_request_button?(@list)%>
      <%= button_to 'request to join', collab_requests_path(collab_request: {user_id: current_user.id, list_id: @list.id, from_owner: false}) %>
    <% elsif show_request_sent?(@list) %>
      request pending approval.
    <% end %>
    <% @collaborators.each do |collab| %>
      <div>
        <%= link_to collab.username, profile_path(collab.id) %>
      </div>
    <% end %>
  </div>
</div>

<% if user_can_participate?(@list)%>
  <h3>Comments</h3>
  <%= render 'comments/form', comment: @comment, list_id: @list.id %>

  <%= render partial: 'comments/comment', collection: @comments %>
<% end %>
