<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :purchased %>
    <%= form.check_box :purchased %>
  </div>

  <div class="field">
    <%= form.label :hidden_from_owner %>
    <%= form.check_box :hidden_from_owner %>
  </div>

  <%= form.hidden_field :list_id, :value => @list.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
