<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, class: "form-control" %>
  </div>

  <% if !list_belongs_to_user?(@list)%>
    <div class="field">
      <%= form.label :hidden_from_owner %>
      <%= form.check_box :hidden_from_owner %>
    </div>
  <% end %>

  <%= form.hidden_field :list_id, :value => @list.id %>

  <%= hidden_field_tag(:item_id, item.id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
