<h3>Collaboration Requests</h3>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @collab_requests.each do |collab_request| %>
      <tr>
        <td><%= link_to collab_request.user.username, profile_path(collab_request.user.id) %></td>
        <td>List: <%= link_to collab_request.list.name, list_path(collab_request.list.id) %></td>
        <td><%= link_to 'Accept', collaborations_path(collab_request: collab_request), method: :post %></td>
        <td><%= link_to 'Deny', collab_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Collaboration Invites</h3>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @collab_invites.each do |collab_invite| %>
      <tr>
        <td><%= link_to collab_invite.list.user.username, profile_path(collab_invite.list.user.id) %></td>
        <td>List: <%= link_to collab_invite.list.name, list_path(collab_invite.list.id) %></td>
        <td><%= link_to 'Accept', collaborations_path(collab_request: collab_invite), method: :post %></td>
        <td><%= link_to 'Deny', collab_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
